input,
button {
  margin: 5px;
}

.game-field {
  position: relative;
  width: 800px;
  height: 800px;
  background-color: lightgray;
}

.puzzle {
  position: absolute;
  width: 60px;
  height: 60px;
  color: white;
  background-color: transparent;
  user-select: none;
  text-align: center;
}

.puzzles-grid {
  width: 800px;
  background-color: lightgreen;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  padding-top:20px;
}

.puzzle-holder{
  display: flex;
  justify-content: center;
  align-content: center;
  margin:10px;
}

img{
  user-select: none;
}

.puzzle-in-grid {
  width: 60px;
  height: 60px;
  background-color: transparent;
  user-select: none;
  text-align: center;
  position: relative;
}

.puzzle-image{
  position:absolute;
}