input,
button {
  margin: 5px;
}


@media (width < 600px){
  .puzzle{
    width: 18vw;
    height: 18vw;
  }
}

@media (width > 600px){
  .puzzle{
    width: 60px;
    height: 60px;
  }
}

.game-field {
  position: relative;
  background-color: lightgray;
}

.puzzle {
  position: absolute;
  color: white;
  background-color: transparent;
  user-select: none;
  touch-action: pan-y pinch-zoom;
}

.puzzle-holder{
  display: flex;
  justify-content: center;
  align-content: center;
  margin:10px;
}

img{
  user-select: none;
}

.puzzle-image{
  position:absolute;
}

.full-image{
  width:45%;
  height:auto;
}

.field-holder{
  height: 100%;
  touch-action: none;
}

.puzzles-grid{
  background-color: lightblue;
}

.image-holder{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}